
@font-face {
    font-family: 'Radiance';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/radiance.woff') format('woff'),
         url('http://cdn.dota2.com/apps/dota2/fonts/radiance.ttf') format('truetype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/radiance.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radiance-Bold';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.woff') format('woff'),
         url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.ttf') format('truetype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/radiance-bold.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Radiance-SemiBold';
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.eot');
    src: url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.eot?#iefix') format('embedded-opentype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.woff') format('woff'),
         url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.ttf') format('truetype'),
         url('http://cdn.dota2.com/apps/dota2/fonts/radiance-semibold.svg#ywftsvg') format('svg');
    font-weight: normal;
    font-style: normal;
}

body
{
    font-family: 'Radiance';
    background-color: #000000;
    padding: 0;
    margin: 0;
    text-align: left;
    color: #999999;
}

*
{
    font-family: 'Radiance';
}

p, h1, h2, h3, ul
{
    margin: 0 0 0 0;
}

div.Container
{
    width: 100%;
}

div.Container .Inner
{
    margin-left: auto;
    margin-right: auto;
    width: 1050px;
    padding-left: 50px;
    padding-right: 50px;
}

div.Container, div.Container .Inner
{
    background-position: top center;
    background-repeat: no-repeat;
}

div.Container.RepeatY, div.Container.RepeatY .Inner
{
    background-repeat: repeat-y;
}

#KeyArt, #KeyArt .Inner
{
    background-image: url( 'http://cdn.dota2.com/apps/dota2/images/687/keyart.jpg?2' );
    background-color: #6785E7;
    height: 676px;
}

#KeyArt img
{
    margin-top: 30px;
    width: 64px;
    height: 64px;
}

#Header, #Header .Inner
{
    background-color: #000000;
}

h1
{
    font-family: 'Radiance';
    font-size: 71px;
    text-transform: uppercase;
    color: #ED3B1C;
    letter-spacing: 8px;
    font-weight: normal;
    margin-top: 54px;
    margin-bottom: 45px;
}

b
{
    font-family: 'Radiance-SemiBold';
    font-weight: normal;
    color: #AAAAAA;
    text-shadow: 1px 1px 1px #000000;
}

a, a:visited, a:active
{
    color: #CC867A;
}

.HiddenAnchor
{
	width: 1px;
	height: 1px;
}

.ChangeDetailsExtended
{
    position: relative;
    display: none;
    width: 950px;
    background-color: #0E0E0E;
    border: 1px solid black;
    margin-top: 0px;
    margin-left: -20px;
    padding: 15px;
    padding-left: 20px;
    color: #707070;
}

.ChangeDetailsEToggle
{
    display: block;
    margin-top: 10px;
    color: #CC867A;
}

.ChangeDetailsEToggle.HideButton
{
    margin-top: -5px;
    margin-bottom: 15px;
}

.ChangeDetailsPopup
{
    display: none;
    position: absolute;
    z-index: 100;
    width: 910px;
    background-color: #131313;
    border: 1px solid black;
    margin-top: 5px;
    margin-left: -20px;
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #707070;
}

.ChangeDetailsExtended .ChangeDetailsPopup
{
    margin-left: -5px;
}

#Heroes b, #Items b
{
    font-size: 18px;
    padding-bottom: 4px;
    margin-top: -10px;
    display: block;
}

#Heroes ul, #Items ul
{
    padding-bottom: 30px;
}

#Items strong
{
    font-size: 18px;
}

#Header p
{
    font-size: 24px;
    line-height: 48px;
}

div.Container.BGStyle0
{
    border-top: 2px solid #232323;
}

div.Container.BGStyle0, div.Container.BGStyle0 .Inner
{
    background-image: url( 'http://cdn.dota2.com/apps/dota2/images/687/featured.jpg' );
    background-color: #151618;
}

.BGStyle0 .Inner
{
    padding-top: 80px;
    padding-bottom: 40px;
    padding-right: 0px;
}

h2
{
    font-family: 'Radiance';
    font-size: 27px;
    letter-spacing: 3px;
    width: 448px;
    display: block;
    background-color: #C5341A;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    padding-top: 1em;
    padding-bottom: 1em;
    font-weight: normal;
}

h3, #Items b:nth-of-type(1), #Items b:nth-of-type(2)
{
    font-family: 'Radiance';
    text-transform: uppercase;
    font-weight: normal;
    font-size: 22px;
    letter-spacing: 1px;
    color: #ED3B1C;
    text-shadow: 1px 1px 1px #000000;
}

#Items b:nth-of-type(1)
{
    padding-top: 10px;
    padding-bottom: 10px;
}

#Items b:nth-of-type(2)
{
    padding-top: 30px;
    padding-bottom: 10px;
}


div.Container.BGStyle1, div.Container.BGStyle1 .Inner
{
    background-position: center 0px, center 0px;
    background-image: url( 'http://cdn.dota2.com/apps/dota2/images/687/list_top.jpg' ), url( 'http://cdn.dota2.com/apps/dota2/images/687/list.jpg' );
    background-color: #0D0E0F;
    background-repeat: no-repeat, repeat-y;
}

.BGStyle1 .Inner
{
    padding-top: 80px;
    padding-bottom: 40px;
}

h3
{
    padding-top: 0px;
    padding-bottom: 18px;
}

li
{
    font-family: 'Radiance';
    font-size: 18px;
    color: #808080;
    line-height: 34px;
    margin-left: -20px;
    text-shadow: 1px 1px 1px #000000;
}

ul
{
    padding-bottom: 20px;
}

#Footer, #Footer .Inner
{
    background-image: url( 'http://cdn.dota2.com/apps/dota2/images/687/footer.jpg' );
    background-color: #000000;
}

#Footer .Inner
{
    height: 300px;
}
